.Vehicle {
	width: 40px;
	height: 40px;
	background: blue;
	position: absolute;
}

.Car {
	width: 40px;
	height: 40px;
	background: blue;
	position: absolute;
}

.CopCar {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 60px;
}

.Motorcycle {
	background: orange;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 110px;
}

.Tank {
	background: gray;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 160px;
}