.Vehicle {
	width: 40px;
	height: 40px;
	background: blue;
	position: absolute;
}
/*
div.Car:before {
	content:url(https://didipopmoms.files.wordpress.com/2011/12/yellowcar1.jpg?w=320&h=170);
	position: absolute;
	width: 20px;
	height: auto;
}*/
.Car {
	
	width: 40px;
	height: 40px;
	background: blue;
	position: absolute;
}

.CopCar {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 60px;
}

.Motorcycle {
	background: orange;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 110px;
}

.Tank {
	background: gray;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 160px;
}